* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    max-width: 1440px;
    text-align: center;
    color: #222;

    margin: auto;
    position: relative;
}

.wrapper {
    padding: 0 60px;
}

.heading {
    margin-top: 40px;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

main {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
}

/* =========== CARD =========== */

.card {
    border-radius: 20px;
    border: 3px solid #FFF;
    background: linear-gradient(180deg, #F1F1F1 0%, rgba(241, 241, 241, 0.00) 100%);
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.25);
    padding: 60px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.won {
    border: 3px solid #7DBE7C;
}

.lose {
    border: 3px solid #BE7C7C; 
}

.info h2 {
    font-size: 1.5rem;
}

.info p {
    color: #717171;
    font-family: Poppins;
    font-size: 1rem;
}

/* =========== TABLE =========== */

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results {
    margin: auto;
}

.results span {
    font-weight: 700;
}

.results h2 {
    font-size: 2rem;
    font-weight: 400;
}

.score {
    width: 300px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 3px solid #FFF;
    background: #F1F1F1;
}

.score h3 {
    font-size: 1.5rem;
}

.explanation {
    color: #717171;
}

.rules {
    display: unset;
}

.rules-heading {
    font-weight: 700;
}

.icon-sm {
    width: 22px;
    height: 22px;
}

/* =========== CHOOSE SECTION =========== */

.options {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.choose-place h3, .score p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #717171;
}

.choose-card {
    border-radius: 20px;
    border: 3px solid #FFF;
    background: #F1F1F1;
    cursor: pointer;

    width: 160px;
    height: 120px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    transition: all .2s;
}

.choose-card img {
    width: 48px;
    height: 48px;
}

.choose-card p {
    font-size: 1.5rem;
    font-weight: 700;
}

.choose-card:hover {
    background-color: #fff;
    transform: scale(1.02);
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.25);
    outline: none;
}

/* =========== FINAL RESULT =========== */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.3s ease;
}

.final-result {
    visibility: hidden;
    z-index: 3;
    position: absolute;

    border-radius: 20px;
    background: linear-gradient(180deg, #F1F1F1 0%, rgba(241, 241, 241, 0.00) 100%);
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.25);
    padding: 40px 60px;

    width: 800px;

    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.modal-overlay.open, .final-result.open {
    opacity: 1;
    visibility: visible;
}

.final-result h1 {
    margin-top: 40px;
    font-size: 2rem;
}

.play-again-btn {
    font-size: 1.5rem;
    margin-top: 10px;
    border-radius: 20px;
    border: 3px solid #FFF;
    background: #F1F1F1;
    cursor: pointer;
    padding: 10px 30px;
}

.play-again-btn:hover {
    background-color: #fff;
    transform: scale(1.02);
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.25);
    outline: none;
}

.final-log {
    color: #717171;
    font-size: 1.5rem;
}

.circles {
    margin-top: 60px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.circle {

    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: #fff;
}

.ai-quote {
    margin-top: auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.ai-profile h2 {
    font-size: 1.5rem;
}

.ai-quote {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 1.5rem;
}